[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BPrinStratTTE"]
	path = BPrinStratTTE
	url = https://github.com/boehringer-ingelheim/bprinstrattte
[submodule "BayesianMCPMod"]
	path = BayesianMCPMod
	url = https://github.com/boehringer-ingelheim/bayesianmcpmod
[submodule "bhmbasket"]
	path = bhmbasket
	url = https://github.com/boehringer-ingelheim/bhmbasket
[submodule "tipmap"]
	path = tipmap
	url = https://github.com/boehringer-ingelheim/tipmap
